<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (result.length != 0) { %>
      <h1>Lista de hosts cadastrados no zabbix</h1>
      <ul>
        <% result.forEach(function(val) { %>
          <li>Host: <%= val.host %> com ID <%= val.hostid %>
        <% }) %>
      </ul>
    <% } %>
    <% if (result.length === 0) { %>
      <h1>Nenhum valor foi encontrado</h1>
    <% } %>
  </body>
</html>